        
{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

<div class="menu-groupe-lien" id="sidebar">
	<!-- GESTION ASSOCIATIVE -->
	{% if is_granted('ROLE_SUIVEUR') %}
	    <a class="menu-lien" href="#" data-target="gestAsso"><span class="glyphicon glyphicon-user"></span> Gestion Associative</a>
	    <a class="menu-lien enfant" data-parent="gestAsso" href="{{ path('mgatePersonne_membre_homepage') }}" >Lister les membres</a>
	    <a class="menu-lien enfant" data-parent="gestAsso" href="{{ path('mgatePersonne_intervenants_homepage') }}" >Lister les intervenants</a>
	    <a class="divider enfant" data-parent="gestAsso"></a>
	    <a class="menu-lien enfant" data-parent="gestAsso" href="{{ path('mgatePersonne_membre_ajouter') }}">Ajouter un membre</a>
	{% endif %}

	<!-- RECRUTEMENT FORMATIONS PASSATION -->
	{% if is_granted('ROLE_SUIVEUR') %}
	    <a class="menu-lien" href="#" data-target="formations"><span class="glyphicon glyphicon-calendar"></span> Formations</a>
	    <a class="menu-lien enfant" data-parent="formations" href="{{ path('mgate_formations_lister') }}">Voir les formations</a>
	    {% if is_granted('ROLE_CA') %}
		    <a class="divider enfant" data-parent="formations"></a>
		    <span class="menu-lien enfant titre" data-parent="formations">Administration</span>
		    <a class="menu-lien enfant" data-parent="formations" href="{{ path('mgate_formations_index_admin') }}">Gérer les formations</a>
		    <a class="menu-lien enfant" data-parent="formations" href="{{ path('mgate_formation_ajouter') }}">Ajouter une formation</a>
		    <a class="menu-lien enfant" data-parent="formations" href="{{ path('mgate_formation_participation') }}">Voir les participants</a>
		{% endif %}
	{% endif %}

	<!-- SUIVI D'ETUDES-->
	{% if is_granted('ROLE_SUIVEUR') %}
	    <a class="menu-lien" href="#" data-target="suiviEtudes"><span class="glyphicon glyphicon-briefcase"></span> Suivi d'Études</a>
	    <a class="menu-lien enfant" data-parent="suiviEtudes" href="{{ path('mgateSuivi_etude_homepage') }}">Voir les études</a>
	    <a class="menu-lien enfant" data-parent="suiviEtudes" href="{{ path('mgateSuivi_etude_ajouter') }}">Créer une étude</a>
	    {% if etudesSuiveur | length %}
		    <a class="divider enfant" data-parent="suiviEtudes"></a>
		    <span class="menu-lien enfant titre" data-parent="suiviEtudes">Mes études :</span>
		    {% for etude in etudesSuiveur %}
	    		<a class="menu-lien enfant" data-parent="suiviEtudes" href="{{ path('mgateSuivi_etude_voir', {'numero': etude.numero}) }}">{{ etude.reference }}</a>
	    	{% endfor %}
	    {% endif %}
	    <a class="divider enfant" data-parent="suiviEtudes"></a>
	    <span class="menu-lien enfant titre" data-parent="suiviEtudes">Qualité</span>
	    <a class="menu-lien enfant" data-parent="suiviEtudes" href="{{ path('mgateSuivi_etude_suiviQualite') }}">Suivi des problèmes</a>
	    {% if is_granted('ROLE_CA') %}
	    	<a class="divider enfant" data-parent="suiviEtudes"></a>
		    <span class="menu-lien enfant titre" data-parent="suiviEtudes">Administration</span>
		    <a class="menu-lien enfant" data-parent="suiviEtudes" href="{{ path('mgateSuivi_clientcontact_index') }}">Contacts Client</a>
		    <a class="menu-lien enfant" data-parent="suiviEtudes" href="{{ path('mgateSuivi_vu_ca') }}">Vu CA</a>
	    {% endif %}
	{% endif %}

	<!-- TRESORERIE-->
	{% if is_granted('ROLE_CA') %}
    <a class="menu-lien" href="#" data-target="tresorerie"><span class="glyphicon glyphicon-euro"></span> Trésorerie</a>
    <span class="menu-lien enfant titre" data-parent="tresorerie">Factures :</span>
    <div class="floatContainer" data-parent="tresorerie">
    	<a class="menu-lien enfant gauche" data-parent="tresorerie" href="{{ path('mgateTreso_Facture_index') }}">Lister</a>
    	<a class="menu-lien enfant droite" data-parent="tresorerie" href="{{ path('mgateTreso_Facture_ajouter') }}">Ajouter</a>
    </div>
    <span class="menu-lien enfant titre" data-parent="tresorerie">BVs :</span>
    <div class="floatContainer" data-parent="tresorerie">
	    <a class="menu-lien enfant gauche" data-parent="tresorerie" href="{{ path('mgateTreso_BV_index') }}">Lister</a>
	    <a class="menu-lien enfant droite" data-parent="tresorerie" href="{{ path('mgateTreso_BV_ajouter') }}">Ajouter</a>
    </div>
    <span class="menu-lien enfant titre" data-parent="tresorerie">NFs :</span>
    <div class="floatContainer" data-parent="tresorerie">
	    <a class="menu-lien enfant gauche" data-parent="tresorerie" href="{{ path('mgateTreso_NoteDeFrais_index') }}">Lister</a>
	    <a class="menu-lien enfant droite" data-parent="tresorerie" href="{{ path('mgateTreso_NoteDeFrais_ajouter') }}">Ajouter</a>
    </div>
    <a class="divider enfant" data-parent="tresorerie"></a>
    <span class="menu-lien enfant grand titre" data-parent="tresorerie">Tableaux de Suivi :</span>
    <a class="menu-lien enfant" data-parent="tresorerie" href="{{ path('mgateTreso_Declaratif_TVA') }}">Déclaratif TVA</a>
    <a class="menu-lien enfant" data-parent="tresorerie" href="{{ path('mgateTreso_Declaratif_BRC') }}">Bordereau Récapitulatif des Cotisations</a>
    <a class="divider enfant" data-parent="tresorerie"></a>
    <span class="menu-lien enfant grand titre" data-parent="tresorerie">Administration :</span>
    <span class="menu-lien enfant titre" data-parent="tresorerie">Comptes :</span>
    <div class="floatContainer" data-parent="tresorerie">
	    <a class="menu-lien enfant gauche" data-parent="tresorerie" href="{{ path('mgateTreso_Compte_index') }}">Lister</a>
	    <a class="menu-lien enfant droite" data-parent="tresorerie" href="{{ path('mgateTreso_Compte_ajouter') }}">Ajouter</a>
    </div>
    <span class="menu-lien enfant titre" data-parent="tresorerie">B. URSSAF :</span>
    <div class="floatContainer" data-parent="tresorerie">
	    <a class="menu-lien enfant gauche" data-parent="tresorerie" href="{{ path('mgateTreso_BaseURSSAF_index') }}">Lister</a>
	    <a class="menu-lien enfant droite" data-parent="tresorerie" href="{{ path('mgateTreso_BaseURSSAF_ajouter') }}">Ajouter</a>
    </div>
    <span class="menu-lien enfant titre" data-parent="tresorerie">Charges :</span>
    <div class="floatContainer" data-parent="tresorerie">
	    <a class="menu-lien enfant gauche" data-parent="tresorerie" href="{{ path('mgateTreso_CotisationURSSAF_index') }}">Lister</a>
	    <a class="menu-lien enfant droite" data-parent="tresorerie" href="{{ path('mgateTreso_CotisationURSSAF_ajouter') }}">Ajouter</a>
    </div>
	{% endif %}

	<!-- DEVELOPPEMENT COMMERCIAL -->
	{% if is_granted('ROLE_SUIVEUR') %}
    <a class="menu-lien" href="#" data-target="prospection"><span class="glyphicon glyphicon-earphone"></span> Prospection</a>
	    <span class="menu-lien enfant titre" data-parent="prospection">Prospect/Client</span>
	    <a class="menu-lien enfant" data-parent="prospection" href="{{ path('mgatePersonne_prospect_homepage') }}">Voir les prospects</a>
	    <a class="menu-lien enfant" data-parent="prospection" href="{{ path('mgatePersonne_prospect_ajouter') }}">Ajouter un prospect</a>
	    {% if is_granted('ROLE_CA') %}
		    <a class="divider enfant" data-parent="prospection"></a>
		    <span class="menu-lien enfant titre" data-parent="prospection">Annuaire</span>
		    <a class="menu-lien enfant" data-parent="prospection" href="{ path('mgatePersonne_annuaire') }}">Annuaire global</a>
		    <a class="menu-lien enfant" data-parent="prospection" href="{ path('mgatePersonne_listeDiffusion') }}">Liste de diffusion</a>
		{% endif %}
	{% endif %}

	<!-- PILOTAGE DE LA J.E. -->
	{% if is_granted('ROLE_CA') %}
    <a class="menu-lien" href="#" data-target="pilotageJE"><span class="glyphicon glyphicon-cog"></span> Pilotage de la JE</a>
    <a class="menu-lien enfant" data-parent="pilotageJE" href="{{ path('mgate_indicateurs_index') }}">Indicateurs</a>
    {% endif %}

    <!-- ADMINISTRATION DU SITE -->
    {% if is_granted('ROLE_ADMIN') %}
    <a class="menu-lien" href="#" data-target="administration"><span class="glyphicon glyphicon-wrench"></span> Administration</a>
    <a class="menu-lien enfant" data-parent="administration" href="{{ path('mgate_publi_documenttype_index') }}">Gestion des Documents</a>
    <a class="menu-lien enfant" data-parent="administration" href="{{ path('mgate_publi_documenttype_upload') }}">Ajouter un Doctype</a>
    <a class="divider enfant" data-parent="administration"></a>
    <span class="menu-lien enfant titre" data-parent="administration">Postes</span>
    <a class="menu-lien enfant" data-parent="administration" href="{{ path('mgatePersonne_poste_homepage') }}">Liste des postes</a>
    <a class="menu-lien enfant" data-parent="administration" href="{{ path('mgatePersonne_poste_ajouter') }}">Ajouter un poste</a>
    <a class="divider enfant" data-parent="administration"></a>
    <span class="menu-lien enfant titre" data-parent="administration">Comptes d'Utilisateurs</span>
    <a class="menu-lien enfant" data-parent="administration" href="{{ path('mgate_user_lister') }}">Lister / Modifier</a>
    <a class="divider enfant" data-parent="administration"></a>
    <span class="menu-lien enfant titre" data-parent="administration">Autres</span>
    <a class="menu-lien enfant" data-parent="administration" href="{{ path('mgateSuivi_domaine_index') }}">Domaines de compétence</a>
    {% endif %}
</div>

