{#
This file is part of Incipio.

Incipio is an enterprise resource planning for Junior Enterprise
Copyright (C) 2012-2014 Florian Lefevre.

Incipio is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Incipio is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Incipio as the file LICENSE.  If not, see <http://www.gnu.org/licenses/>.
#}

{# layout d'accueil pour les études  #}
{% extends "::base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
                        <div class="row">
                            <div class="box">
                                <div class="citation">
                                    Message important pour tout le monde.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <h3>Administratif</h3>
                                    <table class="table">
                                        <tr>
                                            <td>Connecté en tant que </td>
                                            <th>{{ app.user.username }}</th>
                                        </tr>
                                        <tr>
                                            <td>Dernière connexion le </td>
                                            <th>{{ app.user.lastLogin ? app.user.lastLogin | date ('d M Y')  }}</th>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-remove-sign"></span> Déconnexion</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box">
                                    <h3>Études</h3>
                                    <table class="table">
                                        <tr>
                                            <td>Nombre d'études en cours </td>
                                            <th>{{ etudesEnCours | length }}</th>
                                        </tr>
                                        <tr>
                                            <td>Mes études </td>
                                            <th>{{ etudesSuiveur | length }}</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box">
                                    <h3>Incipio</h3>
                                    <p>Incipio est un projet libre sous licence AGPL 3.</p>
                                    <p>Aidez-nous à le développer <a href="https://github.com/flef/Incipio">https://github.com/flef/Incipio</a></p>
                                    <p>Ou envoyez nous vos suggestions ou questions : <a href="mailto:flef@incipio.fr">flef@incipio.fr</a></p>
                                </div>
                            </div>
                        </div>
{% endblock %}
